<div class="container p-5" *ngIf="visibilidadeTabela">
    <div class="border border-light rounded p-5">
        <div>
            <button type="button" class="btn btn-sm btn-secondary" (click)="ShowForm()">
                Novo Usuário
            </button>
        </div>
        <hr />
        <table class="table table-striped table-hover table-sm" *ngIf="usuarios">
            <tr class="thead-light">
                <th>Nome</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Data de Criação</th>
                <th>Ações</th>

            </tr>
            <tr *ngFor="let usuario of usuarios">
                <td>
                    {{usuario.nome}}
                </td>
                <td>
                    {{usuario.email}}
                </td>
                <td>
                    {{usuario.dataNascimento}}
                </td>
                <td>
                    {{usuario.criadoEm}}
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                        (click)="ShowFormUpdate(usuario.id)">Atualizar</button> |
                    <button type="button" class="btn btn-sm btn-outline-danger"
                        (click)="ShowDelete(usuario.id, usuario.nome, modelContent)">Excluir</button>

                </td>
            </tr>
        </table>
    </div>

</div>


<div class="container p-5" *ngIf="visibilidadeForm">
    <div class="row">
        <div class="col-6 border-light rounded p-5 shadow" *ngIf="form">
            <h1>{{formTitle}}</h1>
            <hr />
            <form [formGroup]="form" (ngSubmit)="salvarFormulario()">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nome" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control form-control-sm" formControlName="email" />
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control form-control-sm" formControlName="senha" />
                </div>
                <div class="form-group">
                    <label>Data de Nascimento</label>
                    <input type="date" class="form-control form-control-sm" formControlName="dataNascimento" />
                </div>
                <div class="container">
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light" (click)="Back()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #modelContent>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmar Exclusão</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja Excluir o Usuário {{nome}}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="DeleteUser(id)">Sim</button>
    </div>
</ng-template>